In [1]:
import pandas as pd

In [3]:
films = pd.read_csv("../veri_seti/imdb_1000.csv")
films.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [12]:
film = films.drop("content_rating", axis=1).copy()
film.head()

,star_rating,title,genre,duration,actors_list
0,9.3,The Shawshank Redemption,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [13]:
film = film.drop("actors_list", axis = 1)
film.head()

   star_rating                     title   genre  duration
0          9.3  The Shawshank Redemption   Crime       142
1          9.2             The Godfather   Crime       175
2          9.1    The Godfather: Part II   Crime       200
3          9.0           The Dark Knight  Action       152
4          8.9              Pulp Fiction   Crime       154

In [20]:
film.drop(1).head()
film.drop(2, axis=0).head()

   star_rating                     title   genre  duration
0          9.3  The Shawshank Redemption   Crime       142
1          9.2             The Godfather   Crime       175
3          9.0           The Dark Knight  Action       152
4          8.9              Pulp Fiction   Crime       154
5          8.9              12 Angry Men   Drama        96

In [25]:
rowsToDrop = [2, 3, 5, 7, 9, 11, 13]
film.drop(rowsToDrop).head(10)

,star_rating,title,genre,duration
0,9.3,The Shawshank Redemption,Crime,142
1,9.2,The Godfather,Crime,175
4,8.9,Pulp Fiction,Crime,154
6,8.9,"The Good, the Bad and the Ugly",Western,161
8,8.9,Schindler's List,Biography,195
10,8.8,The Lord of the Rings: The Fellowship of the Ring,Adventure,178
12,8.8,Star Wars: Episode V - The Empire Strikes Back,Action,124
14,8.8,The Lord of the Rings: The Two Towers,Adventure,179
15,8.7,Interstellar,Adventure,169
16,8.7,One Flew Over the Cuckoo's Nest,Drama,133