In [75]:
"ömer yıldız".upper()

'ÖMER YILDIZ'

In [76]:
import pandas as pd

In [77]:
orders = pd.read_table("../veri_seti/orders.tsv")
orders

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [78]:
orders.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [79]:
orders.item_name

0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
                        ...
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4622, dtype: object

In [80]:
orders.item_name =  orders.item_name.str.upper()
orders

,order_id,quantity,item_name,choice_description,item_price
0,1,1,CHIPS AND FRESH TOMATO SALSA,NaN,$2.39
1,1,1,IZZE,[Clementine],$3.39
2,1,1,NANTUCKET NECTAR,[Apple],$3.39
3,1,1,CHIPS AND TOMATILLO-GREEN CHILI SALSA,NaN,$2.39
4,2,2,CHICKEN BOWL,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,STEAK BURRITO,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,STEAK BURRITO,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,CHICKEN SALAD BOWL,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,CHICKEN SALAD BOWL,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,CHICKEN SALAD BOWL,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [81]:
orders[ orders.item_name.str.contains("salad".upper())]

,order_id,quantity,item_name,choice_description,item_price
44,20,1,CHICKEN SALAD BOWL,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75
135,60,2,CHICKEN SALAD BOWL,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",$22.50
186,83,1,VEGGIE SALAD BOWL,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
213,94,2,CHICKEN SALAD BOWL,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$22.50
250,109,1,CHICKEN SALAD,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$10.98
...,...,...,...,...,...
4573,1818,1,VEGGIE SALAD BOWL,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75
4580,1822,1,CHICKEN SALAD BOWL,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",$11.25
4619,1834,1,CHICKEN SALAD BOWL,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,CHICKEN SALAD BOWL,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,CHICKEN SALAD BOWL,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [84]:
orders.choice_description = orders.choice_description.str.replace("[","",regex=True).replace("]","",regex=True)
orders

,order_id,quantity,item_name,choice_description,item_price
0,1,1,CHIPS AND FRESH TOMATO SALSA,NaN,$2.39
1,1,1,IZZE,Clementine,$3.39
2,1,1,NANTUCKET NECTAR,Apple,$3.39
3,1,1,CHIPS AND TOMATILLO-GREEN CHILI SALSA,NaN,$2.39
4,2,2,CHICKEN BOWL,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",$16.98
...,...,...,...,...,...
4617,1833,1,STEAK BURRITO,"Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...",$11.75
4618,1833,1,STEAK BURRITO,"Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...",$11.75
4619,1834,1,CHICKEN SALAD BOWL,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",$11.25
4620,1834,1,CHICKEN SALAD BOWL,"Fresh Tomato Salsa, Fajita Vegetables, Lettuce",$8.75
4621,1834,1,CHICKEN SALAD BOWL,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",$8.75